// ColourPalette
// Green #abd373
// Darkey Grey #4c4c4c
// Black #000
// Light Grey #d8e9d6
// White #fff
// Faint Blue #f6f7fb
// Peach #F8EEE5
$greenColor: #abd373;
$peachColor: #F8EEE5;
$faintBlueColor: #f6f7fb;
$whiteColor: #fff;
$darkGrey: #4c4c4c;
$blackColor: #000;
$lightGrey: #d8e9d6;